.search-input{
    width: 100%;
    background: none;
    outline: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333; 
}

.account-row{
    width: 100%;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: orange;
    margin: 10px 0px;
    color: #333;
    font-size: 20px;
}
.account-row table{
    width: 100%;
}

.account-row table td{
    width: 50%;
    text-align: center;
}

.btnv{
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #f96b23;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
}

.btnv:hover{
    background-color: #c25117;
    color:white;
}



.popup-window{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    padding: 50px;
    z-index: 10;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #c25117;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #aaa;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}



.hidden{
    background-color: rgba(0, 0, 0, 0);
    border:none;
    margin-left: 97%;
}


.fa-times{
    font-size: 50px;
    color: #f96b23;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.0);
    margin: 20px auto;
    border-style: solid;
    border-width: 1px;
    border-color:  #f96b23;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85% ;
    padding: 0.4rem;
    color: #aaa;
}


.input-field .input-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field i{
    color: #f96b23;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field input{
    border: none;
    width: 90%;
    background: none;
    outline: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #aaa; 
}

.input-field input::placeholder{
    font-weight: 600;
    font-size: 1.1rem;
    color: #aaa; 
}

.input-field input[type='file']{
    background-color: rgba(0, 0, 0, 0);
    padding: auto;
    font-weight: 600;
    font-size: 1.1rem;
    color: #aaa; 
    padding-top: 8px;
}

.input-field input[type='file']:hover{
    cursor: pointer;
}

.input-field input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
    width: 0px;
}

.input-field-textarea{
    max-width: 380px;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.0);
    margin: 20px auto;
    border-style: solid;
    border-width: 1px;
    border-color:  #f96b23;
    border-radius: 55px;
    padding: 20px;
    color: #aaa;
}

.input-field-textarea textarea{
    height: 100%;
    width: 100%;
    resize: none;
    padding-right: 0px;
    margin-right: 100px;
    background-color: rgba(0, 0, 0, 0);
    color: #aaa;
}

.input-field-textarea textarea:focus{
    outline-width: 0px;
}

.input-field-textarea textarea::placeholder{
    color: #aaa;
    font-weight: 500;
}

.errors{
  color: red;
  font-size: 15px;
  height: 15px;
  text-align: center;
}

.input-select{
    margin: 20px auto;
    border-style: solid;
    border-width: 1px;
    border-color:  #f96b23;
    border-radius: 55px;
    background-color: rgba(0, 0, 0, 0.0);
    color: #aaa;
    font-size: 1.1rem;
    width: 140px;
    height: 45px;
}

.account-type{
    border-width: 0px;
    border-radius: 55px;
    background-color: rgba(0, 0, 0, 0.0);
    color: #aaa;
    font-size: 1.1rem;
}

.divder{
    color: #aaa;
    border-color: #aaa;
    margin: 40px auto;
    width: 50%;
}

.man-table{
    text-align: center;
    margin: 0 auto;
}

.man-table td{
    padding: 20px;
    text-align: left;
}

.popup-headers{
    color: #aaa;
    font-size: 36px;
}


.sbtn{
    height: 49px;
    border-style: solid;
    border-width: 1px;
    border-color: #f96b23;
    border-radius: 49px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #f96b23;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
    padding: 0px 20px;
}

.sbtn:hover{
    background-color: #f96b23;
    border-color: #f96b23;
    color: #ddd;
}

.dp{
    border-color: #f92323;
    color: #f92323;
}

.dp:hover{
    background-color:#f92323;
    border-color: #f92323;
    color: #ddd;
}

@media(max-width:474px){
    
    .sbtn{
        font-size: 20px;
    }
    .popup-headers{
        font-size: 25px;
    }
    .man-table td{
        font-size: 15px;
    }
}

@media(max-width:375px){
    .sbtn{
        font-size: 15px;
    }
    .man-table td{
        font-size: 8px;
    }
}

.id{
    display: none;
}

.success-screen{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    top: 0px;
    left: 0px;
}


.fail-screen{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    top: 0px;
    left: 0px;
}

.fa-check{
    font-size: 200px;
    color: #f96b23;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fail-icon{
    font-size: 200px;
    color: #f96b23;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.add-prodect{
    background-color: #333;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    color:  #f96b23;
}

.add-prodect-icon{
    font-size: 50px;
}

.hm-content{
    margin-top: 100px;
}




.add-product{
    background-color: #333;
    width: 70px;
    height: 70px;
    border: 1px solid #f96b23;
    border-radius: 10px;
    color:  #f96b23;
    outline: 0px solid rgba(0, 0, 0, 0);
}

.add-product:focus{
    border: 1px solid #f96b23;
    outline: 0px solid rgba(0, 0, 0, 0);
}

.add-product-icon{
    font-size: 50px;
}

.add-product-icon:hover{
    color: #ce5214;
}

.hm-content{
    margin-top: 100px;
}


.card-desc{
    height: 100px;
}


.modify-card{
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
}

.modify-card:focus{
    border: 0px solid rgba(0, 0, 0, 0);
    outline: 0px solid rgba(0, 0, 0, 0);
}

.modify-card-icon{
    font-size: 35px;
    color: #f96b23;
}

.modify-card-icon:hover{
    color: #ce5214;
}


.product-mod-window{
    position: fixed;
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 1140px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 1px solid #f96b23;
    padding: 10px;
    display: none;
}


::-webkit-scrollbar-track {
  margin: 12px 0px;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
