<div class="cell main-aa-center base-30-lg base-50-md base-100-sm">
    <div class="card" data-aos="zoom-out">
        <div class="my-col card-col">
            <div class="my-row base-40-sm">
                <div class="cell base-100-sm">
                    <img src="/local/products_images/{}" alt="">
                </div>
            </div>
            <div class="my-row base-50-sm">
                <div class="cell base-100-sm">
                    <div class="card-text">
                        <h1>{}</h1>
                        <p class="card-desc">{}</p>
                    </div>
                </div>
            </div>
            <div class="my-row base-10-sm">
                <div class="cell main-aa-end cross-aa-end base-100-sm">
                    <p class="card-price">{} $</p> 
                </div>
            </div>
        </div>
    </div>
</div>